* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 250px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.sidebar .top-buttons {
    width: 100%;
}

.sidebar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

.sidebar .diagnostic-button {
    background-color: #28a745;
    margin-top: auto;
}

.sidebar button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar .diagnostic-button:hover {
    background-color: #218838;
}

.main-content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
}

#resultat {
    width: 100%;
    max-width: 1000px;
    min-height: 200px;
    padding: 1.5rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
}

.sidebar .diagnostic-button {
    background-color: #28a745;
    margin-top: auto;
    white-space: nowrap; /* Pour éviter le saut de ligne */
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    .sidebar button {
        width: auto;
        margin: 0.5rem;
    }

    .main-content {
        padding: 1rem;
    }
}
